<Ui xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.blizzard.com/wow/ui/">
  <Script file="Config.lua"/>
  <Frame name="SA_Config_CPFrame" hidden="true" parent="UIParent"> <!-- Timer bars-->
    <Size x="256" y="256"/>
    <Anchors>
      <Anchor point="TOPLEFT">
		<Offset x="9" y="-534"/>
      </Anchor>
    </Anchors>
    <Layers>
      <Layer>
		<FontString name="ShowTimerBars" inherits="" font="GameFontNormalLarge" text="Show Timer Bars" justifyH="LEFT">
		  <Size x="226" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="15" y="-15"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="BarOptions" inherits="" font="GameFontNormalLarge" text="Bar Options" justifyH="LEFT">
		  <Size x="226" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="205" y="-15"/>
			</Anchor>
		  </Anchors>
		</FontString>
      </Layer>
    </Layers> 
    <Backdrop bgFile="Interface\DialogFrame\UI-DialogBox-Background" edgeFile="Interface\DialogFrame\UI-DialogBox-Border" tile="true">
      <BackgroundInsets>
		<AbsInset left="11" right="12" top="12" bottom="11"/>
      </BackgroundInsets>
      <TileSize>
		<AbsValue val="32"/>
      </TileSize>
      <EdgeSize>
		<AbsValue val="32"/>
      </EdgeSize>
    </Backdrop>
    <Frames>
      <CheckButton name="SA_Config_ShowSnDBar" text="SC_SPELL_SND" inherits="InterfaceOptionsCheckButtonTemplate">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-40"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
      <CheckButton name="SA_Config_ShowRupBar" text="SC_SPELL_RUP" inherits="InterfaceOptionsCheckButtonTemplate">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-60"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
      <CheckButton name="SA_Config_ShowRecupBar" text="SC_SPELL_RECUP" inherits="InterfaceOptionsCheckButtonTemplate">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-80"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
      <CheckButton name="SA_Config_ShowDPBar" text="SC_SPELL_DP" inherits="InterfaceOptionsCheckButtonTemplate">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-100"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
      <CheckButton name="SA_Config_ShowEnvBar" text="SC_SPELL_ENV" inherits="InterfaceOptionsCheckButtonTemplate">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-120"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
      <CheckButton name="SA_Config_ShowVendBar" text="SC_SPELL_VEND" inherits="InterfaceOptionsCheckButtonTemplate">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-140"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
	  <CheckButton name="SA_Config_ShowRevealBar" text="SC_SPELL_REVEAL" inherits="InterfaceOptionsCheckButtonTemplate">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-160"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
	  <CheckButton name="SA_Config_ShowFeintBar" text="SC_SPELL_FEINT" inherits="InterfaceOptionsCheckButtonTemplate">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-180"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
	  <CheckButton name="SA_Config_ShowGuileBar" text="SC_SPELL_BAND3" inherits="InterfaceOptionsCheckButtonTemplate">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-200"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
	  <CheckButton name="SA_Config_ShowHemoBar" text="SC_SPELL_HEMO" inherits="InterfaceOptionsCheckButtonTemplate">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-220"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
	  <CheckButton name="SA_Config_ShowFwBar" text="SC_SPELL_FW" inherits="InterfaceOptionsCheckButtonTemplate">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-240"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
      <CheckButton name="SA_Config_Barsup" text="SC_BARS_GROW_UP" inherits="InterfaceOptionsCheckButtonTemplate">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="205" y="-40"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
      <CheckButton name="SA_Config_SortBars" text="SC_SORT_BY_DURATION" inherits="InterfaceOptionsCheckButtonTemplate">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="205" y="-60"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
      <CheckButton name="SA_Config_ShowDoTDmg" text="SC_SHOW_DOT_TICK"  inherits="InterfaceOptionsCheckButtonTemplate">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="205" y="-80"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
      <CheckButton name="SA_Config_DoTCrits" text="SC_HIGHLIGHT_DOT" inherits="InterfaceOptionsCheckButtonTemplate">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="225" y="-100"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
    </Frames>
  </Frame>
  <Frame name="SA_Config_StatBar" hidden="true" parent="UIParent"> <!-- Combo Points and Stats -->
    <Size x="256" y="256"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
		<Offset x="9" y="-534"/>
      </Anchor>
    </Anchors>
    <Layers>
      <Layer>
		<FontString name="ComboPointSettings" inherits="" font="GameFontNormalLarge" text="Combo Point Settings" justifyH="LEFT">
		  <Size x="226" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="15" y="-15"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="Color" inherits="GameFontWhite" text="Color" justifyH="LEFT">
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="261" y="-45"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="StatBarSettings" inherits="" font="GameFontNormalLarge" text="Stat Bar Settings" justifyH="LEFT">
		  <Size x="226" y="-180"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="15" y="-215"/>
			</Anchor>
		  </Anchors>
		</FontString>
      </Layer>
    </Layers>
    <Backdrop bgFile="Interface\DialogFrame\UI-DialogBox-Background" edgeFile="Interface\DialogFrame\UI-DialogBox-Border" tile="true">
      <BackgroundInsets>
		<AbsInset left="11" right="12" top="12" bottom="11"/>
      </BackgroundInsets>
      <TileSize>
		<AbsValue val="32"/>
      </TileSize>
      <EdgeSize>
		<AbsValue val="32"/>
      </EdgeSize>
    </Backdrop>
    <Frames>
      <CheckButton name="SA_Config_ShowCPBar" inherits="InterfaceOptionsCheckButtonTemplate" text="SC_SHOW_COMBO_POINTS">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-40"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
	  <CheckButton name="SA_Config_ShowAntisiBar" inherits="InterfaceOptionsCheckButtonTemplate" text="SC_SHOW_ANTICI_POINTS">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="35" y="-60"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
      <CheckButton name="SA_Config_ShowStatBar" inherits="InterfaceOptionsCheckButtonTemplate" text="SC_SHOW_STATS_BAR" >
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-231"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
      <CheckButton name="SA_Config_HilightBuffed" inherits="InterfaceOptionsCheckButtonTemplate" text="SC_HIGHLIGHT_MEGA">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="45" y="-261"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
	  <CheckButton name="SA_Config_NumStatsBar" inherits="InterfaceOptionsCheckButtonTemplate" text="SC_NUM_STATS_BAR" >
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-291"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
    </Frames>
  </Frame>
  <Frame name="SA_Config_EnergyFrame" hidden="true" parent="UIParent"> <!-- Energy Settings -->
    <Size x="256" y="256"/>
    <Anchors>
      <Anchor point="TOPLEFT">
		<Offset x="9" y="-255"/>
      </Anchor>
    </Anchors>
    <Layers>
      <Layer>
		<FontString name="SA_Config_EnergyFrame_Caption" inherits="" font="GameFontNormalLarge" text="Energy Settings" justifyH="LEFT">
		  <Size x="226" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="15" y="-15"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="FontString4" inherits="GameFontNormal" text="Energy Marker II">
		  <Size x="130" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="200" y="-66"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="FontString3" inherits="GameFontNormal" text="Energy Marker I">
		  <Size x="130" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="14" y="-66"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_Config_TransFullStr" inherits="GameFontNormal" text="Transparency (Full)">
		  <Size x="130" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="15" y="-135"/>
			</Anchor>
		  </Anchors>
		</FontString>		
	  </Layer>
    </Layers>
    <Backdrop bgFile="Interface\DialogFrame\UI-DialogBox-Background" edgeFile="Interface\DialogFrame\UI-DialogBox-Border" tile="true">
      <BackgroundInsets>
		<AbsInset left="11" right="12" top="12" bottom="11"/>
      </BackgroundInsets>
      <TileSize>
		<AbsValue val="32"/>
      </TileSize>
      <EdgeSize>
		<AbsValue val="32"/>
      </EdgeSize>
    </Backdrop>
    <Frames>
      <Slider name="SA_Config_Energy1" inherits="OptionsSliderTemplate" setAllPoints="true" minValue="0" maxValue="120" defaultValue="25" valueStep="1" orientation="HORIZONTAL">
		<Size x="130" y="10"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="14" y="-85"/>
		  </Anchor>
		</Anchors>
		<Scripts>
		  <OnValueChanged>if (SA_Config_Energy1V) then	                    SA_Config_Energy1V:SetText(self:GetValue());                    end</OnValueChanged>
		</Scripts>
      </Slider>
      <EditBox name="SA_Config_Energy1V" protected="true" font="GameFontNormal" letters="3" blinkSpeed="20" numeric="true" autoFocus="false">
		<Size x="36" y="20"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="147" y="-73"/>
		  </Anchor>
		</Anchors>
		<Scripts>
		  <OnTextChanged>SA_Config_Energy1:SetValue(self:GetText());</OnTextChanged>
		</Scripts>
      </EditBox>
      <Slider name="SA_Config_Energy2" inherits="OptionsSliderTemplate" minValue="0" maxValue="120" defaultValue="40" valueStep="1">
		<Size x="130" y="10"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="200" y="-85"/>
		  </Anchor>
		</Anchors>
		<Scripts>
		  <OnValueChanged>SA_Config_Energy2_OnValueChanged(self);</OnValueChanged>
		</Scripts>
      </Slider>
      <EditBox name="SA_Config_Energy2V" font="GameFontNormal" letters="3" blinkSpeed="20" numeric="true" autoFocus="false">
		<Size x="36" y="20"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="334" y="-73"/>
		  </Anchor>
		</Anchors>
		<Scripts>
		  <OnTextChanged>SA_Config_Energy2V_OnTextChanged(self);</OnTextChanged>
		</Scripts>
      </EditBox>
      <CheckButton name="SA_Config_HideE" inherits="InterfaceOptionsCheckButtonTemplate" parent="SA_Config_EnergyFrame" text="Hide Energy Bar">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="17" y="-40"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
      <EditBox name="SA_Config_TransFullV" font="GameFontNormal" blinkSpeed="20" autoFocus="false">
		<Size x="36" y="20"/>
		<Anchors>
		  <Anchor point="TOPRIGHT" relativeTo="SA_Config_TransFullStr">
			<Offset x="36" y="1"/>
		  </Anchor>
		</Anchors>
		<Scripts>
		  <OnTextChanged>SA_Config_TransFullV_OnTextChanged(self);</OnTextChanged>
		</Scripts>
      </EditBox>
      <Slider name="SA_Config_TransFull" inherits="OptionsSliderTemplate" minValue="0" maxValue="100" valueStep="1">
		<Size x="130" y="10"/>
		<Anchors>
		  <Anchor point="TOPLEFT" relativeTo="SA_Config_TransFullStr">
			<Offset x="0" y="-19"/>
		  </Anchor>
		</Anchors>
		<Scripts>
		  <OnValueChanged>SA_Config_TransFull_OnValueChanged(self);</OnValueChanged>
		</Scripts>
      </Slider>
    </Frames>
  </Frame>
  <Frame name="SA_Config2" hidden="true" parent="UIParent"> <!--sound effects-->
    <Size x="256" y="256" />
    <Anchors>
      <Anchor point="TOPLEFT">
		<Offset x="401" y="-254"/>
      </Anchor>
    </Anchors>
    <Layers>
      <Layer>
		<FontString name="SA_RuptSounds_Caption" inherits="GameFontNormalLarge" text="Rupture Sounds" justifyH="LEFT">
		  <Size x="366" y="32"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="7" y="-224"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_Config_Rupt_AlertStr" inherits="GameFontNormalSmall" text="Alert" justifyH="LEFT">
		  <Size x="142" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT" relativeTo="SA_Config2" relativePoint="TOPLEFT">
			  <Offset x="7" y="-260"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_Config_Rupt_ExpireStr" inherits="GameFontNormalSmall" text="Expire" justifyH="LEFT">
		  <Size x="142" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT" relativeTo="SA_Config2" relativePoint="TOPLEFT">
			  <Offset x="7" y="-310"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="ExpireSnD_Str" inherits="GameFontNormalSmall" text="Expired" justifyH="LEFT">
		  <Size x="142" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="7" y="-93"/>
			</Anchor>
		  </Anchors>
		</FontString>		
		<FontString name="SA_Config_Tick3Str" inherits="GameFontNormalSmall" text="Alert" justifyH="LEFT">
		  <Size x="142" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT" relativeTo="SA_Config2" relativePoint="TOPLEFT">
			  <Offset x="7" y="-50"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_Config2_Caption" inherits="GameFontNormalLarge" text="Slice and Dice Sounds" justifyH="LEFT">
		  <Size x="366" y="32"/>
		  <Anchors>
			<Anchor point="TOPLEFT" relativeTo="$parent">
			  <Offset x="7" y="-12"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_Config_Recup_ExpireStr" inherits="GameFontNormalSmall" text="Expired" justifyH="LEFT">
		  <Size x="142" y="20" />
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="211" y="-93" />
			</Anchor>
		  </Anchors>
		</FontString>	                
		<FontString name="SA_Config_Recup_AlertStr" inherits="GameFontNormalSmall" text="Alert" justifyH="LEFT">
		  <Size x="142" y="20" />
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="211" y="-51" />						
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_Config3_Caption" inherits="GameFontNormalLarge" text="Recuperate Settings" justifyH="LEFT">
		  <Size x="366" y="32"/>
		  <Anchors>
			<Anchor point="TOPLEFT" relativeTo="$parent">
			  <Offset x="208" y="-12"/>
			</Anchor>
		  </Anchors>	
		</FontString>                
		<FontString name="SA_VendSounds_Caption" inherits="GameFontNormalLarge" text="Vendetta Sounds" justifyH="LEFT">
		  <Size x="366" y="32"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="211" y="-224"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_Config_Vend_AlertStr" inherits="GameFontNormalSmall" text="Alert" justifyH="LEFT">
		  <Size x="142" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT" relativeTo="$parent" relativePoint="TOPLEFT">
			  <Offset x="211" y="-260"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_Config_Vend_ExpireStr" inherits="GameFontNormalSmall" text="Expire" justifyH="LEFT">
		  <Size x="142" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT" relativeTo="$parent" relativePoint="TOPLEFT">
			  <Offset x="211" y="-310"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_FwSounds_Caption" inherits="GameFontNormalLarge" text="Find Weakness Sounds" justifyH="LEFT">
		  <Size x="366" y="32"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="415" y="-12"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_Config_Fw_AlertStr" inherits="GameFontNormalSmall" text="Alert" justifyH="LEFT">
		  <Size x="142" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT" relativeTo="$parent" relativePoint="TOPLEFT">
			  <Offset x="415" y="-51"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_Config_Fw_ExpireStr" inherits="GameFontNormalSmall" text="Expire" justifyH="LEFT">
		  <Size x="142" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT" relativeTo="$parent" relativePoint="TOPLEFT">
			  <Offset x="415" y="-93"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_RevealSounds_Caption" inherits="GameFontNormalLarge" text="Revealing Strike Sounds" justifyH="LEFT">
		  <Size x="366" y="32"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="415" y="-224"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_Config_Reveal_AlertStr" inherits="GameFontNormalSmall" text="Alert" justifyH="LEFT">
		  <Size x="142" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT" relativeTo="$parent" relativePoint="TOPLEFT">
			  <Offset x="415" y="-260"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_Config_Reveal_ExpireStr" inherits="GameFontNormalSmall" text="Expire" justifyH="LEFT">
		  <Size x="142" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT" relativeTo="$parent" relativePoint="TOPLEFT">
			  <Offset x="415" y="-310"/>
			</Anchor>
		  </Anchors>
		</FontString>
      </Layer>
    </Layers>
    <Backdrop bgFile="Interface\DialogFrame\UI-DialogBox-Background" edgeFile="Interface\DialogFrame\UI-DialogBox-Border" tile="true">
      <BackgroundInsets>
		<AbsInset left="11" right="12" top="12" bottom="11"/>
      </BackgroundInsets>
      <TileSize>
		<AbsValue val="32"/>
      </TileSize>
      <EdgeSize>
		<AbsValue val="32"/>
      </EdgeSize>
    </Backdrop>
    <Frames>
      <CheckButton name="SA_Config_MasterVolume" inherits="InterfaceOptionsCheckButtonTemplate" text="SC_MASTER_VOLUME">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-390"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
	  <CheckButton name="SA_Config_NoCombatSound" inherits="InterfaceOptionsCheckButtonTemplate" text="SC_SOUND_OUTSIDE_COMBAT">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-410"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
    </Frames>
  </Frame>
  <Frame name="SA_Config" hidden="true" parent="UIParent" toplevel="true"> <!-- Main -->
    <Size x="256" y="256" />
    <Anchors>
      <Anchor point="TOPLEFT"/>	  
    </Anchors>
    <Scripts>
      <OnLoad>SA_Config_OnLoad(self);</OnLoad>
      <OnEvent>SA_Config_OnEvent(self, event, ...);</OnEvent>
    </Scripts>
    <Layers>
      <Layer>
		<FontString name="FontString1" inherits="" font="GameFontNormalLarge" text="Slice Admiral" justifyH="LEFT">
		  <Size x="366" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="15" y="-15"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_FontWidthStr" inherits="GameFontNormal" text="Bar Width">
		  <Size x="130" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="202" y="-141"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_FontScaleStr" inherits="GameFontNormal" text="AddOn Scale">
		  <Size x="130" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="15" y="-141"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_FadeStr" inherits="GameFontNormal" text="Out of Combat Fade">
		  <Size x="130" y="20"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="15" y="-241"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="FontString8" inherits="GameTooltipTextSmall" text="Click the + next to 'SliceAdmiral' in the list to the left for more options." justifyV="BOTTOM" justifyH="LEFT">
		  <Size x="356" y="31"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="15" y="-103"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="SA_Config_BarTextureStr" inherits="GameFontNormalSmall" text="Bar Texture" justifyH="LEFT">
		  <Size x="130" y="24"/>
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="202" y="-181"/>
			</Anchor>
		  </Anchors>
		</FontString>
		<FontString name="FontString15" inherits="GameFontNormal" text="Bar Margin" justifyH="LEFT">
		  <Anchors>
			<Anchor point="TOPLEFT">
			  <Offset x="15" y="-181"/>
			</Anchor>
		  </Anchors>
		</FontString>
      </Layer>
    </Layers>
    <Backdrop bgFile="Interface\DialogFrame\UI-DialogBox-Background" edgeFile="Interface\DialogFrame\UI-DialogBox-Border" tile="true">
      <BackgroundInsets>
		<AbsInset left="11" right="12" top="12" bottom="11"/>
      </BackgroundInsets>
      <TileSize>
		<AbsValue val="32"/>
      </TileSize>
      <EdgeSize>
		<AbsValue val="32"/>
      </EdgeSize>
    </Backdrop>
    <Frames>
      <EditBox name="SA_Config_WidthV" font="GameFontNormal" letters="3" blinkSpeed="20" autoFocus="false">
		<Size x="36" y="20"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="332" y="-141"/>
		  </Anchor>
		</Anchors>
		<Scripts>
		  <OnTextChanged>local adjust = floor(self:GetText() + 0.5);if ( adjust > 0) then SA_Config_Width:SetValue( adjust );SA_SetWidth( adjust );end</OnTextChanged>
		</Scripts>
      </EditBox>
      <CheckButton name="SA_Config_Lock" inherits="InterfaceOptionsCheckButtonTemplate" parent="SA_Config" text="SC_DISABLE_CLICK_MOVE">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-40"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
      <Slider name="SA_Config_Scale" inherits="OptionsSliderTemplate" minValue="50" maxValue="200" defaultValue="100" valueStep="1">
		<Size x="130" y="10"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-159"/>
		  </Anchor>
		</Anchors>
		<Scripts>
		  <OnValueChanged>if (SA_Config_ScaleV) then	SA_Config_ScaleV:SetText(self:GetValue());end</OnValueChanged>
		</Scripts>
      </Slider>
      <Slider name="SA_Fade" inherits="OptionsSliderTemplate" minValue="0" maxValue="100" defaultValue="10" valueStep="1">
		<Size x="130" y="10"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-265"/>
		  </Anchor>
		</Anchors>
		<Scripts>
		  <OnValueChanged>if (SA_FadeV) then	SA_FadeV:SetText(self:GetValue());end</OnValueChanged>
		</Scripts>
      </Slider>
      <Button name="SA_ResetPos" inherits="UIPanelButtonTemplate" text="Reset Position">
		<Size x="109" y="20"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="271" y="-51"/>
		  </Anchor>
		</Anchors>
		<Scripts>
		  <OnClick>SA:ClearAllPoints();SA:SetPoint("TOPLEFT", 100, -150);</OnClick>
		</Scripts>
      </Button>
      <CheckButton name="SA_Config_PadLatency" inherits="InterfaceOptionsCheckButtonTemplate" text="SC_PAD_LATENCY" parent="SA_Config">
		<Size x="25" y="25"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="15" y="-60"/>
		  </Anchor>
		</Anchors>
		<Scripts>
			<OnLoad>
				SA_Config_Checkbutton_OnLoad(self)
			</OnLoad>
		</Scripts>
      </CheckButton>
      <EditBox name="SA_Config_BarMargin" font="GameFontNormal" letters="3" autoFocus="false">
		<Size x="34" y="20"/>
		<Anchors>
		  <Anchor point="TOPLEFT">
			<Offset x="121" y="-181"/>
		  </Anchor>
		</Anchors>
	  </EditBox>
      <EditBox name="SA_Config_ScaleV" font="GameFontNormal" letters="3" blinkSpeed="20" autoFocus="false">
		<Size x="36" y="20"/>
		<Anchors>
		  <Anchor point="TOPLEFT" relativeTo="SA_FontScaleStr" relativePoint="TOPRIGHT">
			<Offset x="0" y="0"/>
		  </Anchor>
		</Anchors>
		<Scripts>
		  <OnTextChanged>local adjust = floor(self:GetText() + 0.5);if ( adjust > 0) then SA_Config_Scale:SetValue( adjust );SA_SetScale( adjust );end</OnTextChanged>
		</Scripts>
      </EditBox>
      <EditBox name="SA_FadeV" font="GameFontNormal" letters="3" blinkSpeed="20" autoFocus="false">
		<Size x="36" y="20"/>
		<Anchors>
		  <Anchor point="TOPLEFT" relativeTo="SA_FadeStr" relativePoint="TOPRIGHT">
			<Offset x="0" y="0"/>
		  </Anchor>
		</Anchors>
		<Scripts>
		  <OnTextChanged>local adjust = floor(self:GetText() + 0.5); if ( adjust >= 0) then SA_Fade:SetValue( adjust ); SA:SetAlpha(adjust);end</OnTextChanged>
		</Scripts>
      </EditBox>
      <Slider name="SA_Config_Width" inherits="OptionsSliderTemplate" minValue="25" maxValue="300" valueStep="5">
		<Size x="130" y="10"/>
		<Anchors>
		  <Anchor point="TOPLEFT" relativeTo="SA_FontWidthStr" relativePoint="BOTTOMLEFT">
			<Offset x="0" y="1"/>
		  </Anchor>
		</Anchors>
		<Scripts>
		  <OnValueChanged>if (SA_Config_WidthV) then	SA_Config_WidthV:SetText(self:GetValue());end</OnValueChanged>
		</Scripts>
      </Slider>
    </Frames>
  </Frame>
</Ui>
